

<h1>Please upload the Header file</h1>

<input id="photo" type="file" />
<!-- button to trigger the file upload when submitted -->
<button type="button" class="btn btn-success btn-s" (click)="upload()">
Upload
</button>

<app-flow></app-flow>